@import "variables";

.pokedex.all-screens-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  // box-sizing: border-box;
  // padding: 2%; 
  width: 100%;
  height: 100%;
  // background: yellow;

  > ul {
    list-style: none;
    width: 25%;
    height: 87%;
    min-width: 300px;
    border-radius: 15px;
    box-sizing: border-box;
    box-sizing: border-box;
    border: 6px solid $black;
    padding-inline-start: 0;
    background: $green;
    font-size: 12px;
    font-weight: 700;
    overflow: scroll;

    li {
      padding: 10px;
      border-bottom: 3px solid $black;
      cursor: pointer;

      a {
        display: block;
        text-decoration: none;
        color: $black;
      }

      img {
        padding-right: 10px;
        width: 50px;
        vertical-align: middle;
      }

      .number {
        font-weight: bold;
      }

      &:hover {
        background: $light-green;
      }

      &:active {
        background: $lightest-green;
      }
    }
  }
}

/* Pokemon info screens styling */

.pokemon-detail.screens-container {
  display: flex;
  flex-direction: row;
  width: 35%;
  min-width: 470px;
  height: 87%;
  // background: pink;
  // margin: 10px auto;

  .pokemon-detail.image-screens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    .pokemon-detail.poke-image-display {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      box-sizing: border-box;
      padding: 7% 0 2% 0;
      border: 6px solid $black;
      background: $light-gray;
      width: 100%;
      height: 60%;

      .pokemon-detail.glass-screen-display {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-sizing: border-box;
        border: 6px solid $black;
        border-radius: 15px;
        background: $light-blue;
        width: 75%;
        height: 80%;
        overflow: hidden;
      }

      img { 
        width: 200px;
        padding: 20px;
      }

      .glass-streak-1 {
        width: 100%;
        border-bottom: 45px solid white;
        opacity: 0.5;
        -webkit-transform:
          translateY(10px)
          translateX(-330px)
          rotate(-27deg); 
        position: absolute;
      }

      .glass-streak-2 {
        width: 100%;
        border-bottom: 20px solid white;
        opacity: 0.5;
        -webkit-transform:
          translateY(-40px)
          translateX(-330px)
          rotate(-27deg); 
        position: absolute;
      }

      .glass-streak-3 {
        width: 100%;
        border-bottom: 10px solid white;
        opacity: 0.5;
        -webkit-transform:
          translateY(70px)
          translateX(-330px)
          rotate(-27deg); 
        position: absolute;
      }

      .pokemon-detail.glass-buttons-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 20%;
        background: purple;

        .small-red-button {
          // position: absolute;
          // top: 0;
          // left: 0;
          position: relative;
          border-radius: 50%;
          background: $button-red;
          box-sizing: border-box;
          border: 4px solid $black;
          width: 3em;
          height: 3em;
          // top: 305px;
          // left: 120px;

          .button-inner {
            position: absolute;
            top: 15%;
            left: 18%;
            border-radius: 50%;
            background: white;
            opacity: 0.6;
            width: 1em;
            height: 1em;
          }
        }

        .pokemon-detail.vent-lines-wrapper {
          width: 80%;
          height: 100%;
          background: yellow;
          
          .vent-line-1 {
            // position: absolute;
            // top: 305px;
            // left: 250px;
            // border-bottom: 5px solid $black;
            // border-radius: 15px;
            // width: 150px;
          }

          .vent-line-2 {
            // position: absolute;
            // top: 320px;
            // left: 250px;
            // border-bottom: 5px solid $black;
            // border-radius: 15px;
            // width: 150px;
          }

          .vent-line-3 {
            // position: absolute;
            // top: 335px;
            // left: 250px;
            // border-bottom: 5px solid $black;
            // border-radius: 15px;
            // width: 150px;
          }
        }
      }

      // .small-red-button {
      //   background: $button-red;
      //   width: 30px;
      //   height: 30px;
      //   border-radius: 50%;
      //   border: 4px solid $black;
      //   position: absolute;
      //   top: 305px;
      //   left: 120px;

      //   .button-inner {
      //     background: white;
      //     opacity: 0.6;
      //     width: 15px;
      //     height: 15px;
      //     border-radius: 50%;
      //     position: absolute;
      //     top: 4px;
      //     left: 4px;
      //   }
      // }

      // .vent-line-1 {
      //   position: absolute;
      //   top: 305px;
      //   left: 250px;
      //   border-bottom: 5px solid $black;
      //   border-radius: 15px;
      //   width: 150px;
      // }

      // .vent-line-2 {
      //   position: absolute;
      //   top: 320px;
      //   left: 250px;
      //   border-bottom: 5px solid $black;
      //   border-radius: 15px;
      //   width: 150px;
      // }

      // .vent-line-3 {
      //   position: absolute;
      //   top: 335px;
      //   left: 250px;
      //   border-bottom: 5px solid $black;
      //   border-radius: 15px;
      //   width: 150px;
      // }
    }

    .pokemon-mock-display {
      background: $screen-gray;
      width: 100%;
      height: 30%;
      margin-top: 30px;
      border-radius: 15px;
      border: 6px solid $black;
      font-size: 12px;
      font-weight: 700;
      position: relative;
      overflow: hidden;

      .mock-line-1 {
        width: 100%;
        border-bottom: 25px solid $mid-gray;
        opacity: 0.3;
        -webkit-transform:
          translateY(-80px)
          translateX(-40px)
          rotate(-27deg); 
        position: absolute;
      }

      .mock-line-2 {
        width: 100%;
        border-bottom: 15px solid $mid-gray;
        opacity: 0.3;
        -webkit-transform:
          translateY(-40px)
          translateX(-30px)
          rotate(-27deg); 
        position: absolute;
      }

      .mock-line-3 {
        width: 100%;
        border-bottom: 45px solid $mid-gray;
        opacity: 0.3;
        -webkit-transform:
          translateY(20px)
          translateX(-10px)
          rotate(-27deg); 
        position: absolute;
      }
    }
  }
}

.pokemon-image-display:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 10px; 
  left: 230px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $black;
}

.pokemon-image-display:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 10px; 
  left: 265px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $black;
}

/* Pokemon info screen styling */

.pokemon-detail.info-container {
  // position: relative;
  width: 400px;
  height: 300px;
  font-size: 16px;
  border-radius: 15px;
  background: $screen-gray;
  box-sizing: border-box;
  border: 6px solid $black;
  // overflow: hidden;
    
  .pokemon-detail.stats-container {
    list-style: none;
    margin-left: 40px;

    li {
      padding: 10px 0;
    }

    h1 {
      font-size: 26px;
      margin: 10px 0 10px 0;
    }
  }

  .pokemon-detail.moves-container {
    margin-top: 30px;

    > label {
      margin-left: 40px;
    }

    > ul {
      display: flex;
      flex-direction: column;
      margin-left: 60px;
      margin-top: 5px;

      li {
        padding: 5px 0;
      }
    }
  }
}