@import "variables";

.pokedex.all-screens-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
  height: 100%;

  > ul {
    list-style: none;
    width: 25%;
    height: 87%;
    min-width: 300px;
    border-radius: 15px;
    box-sizing: border-box;
    box-sizing: border-box;
    border: 6px solid $black;
    padding-inline-start: 0;
    background: $green;
    font-size: 12px;
    font-weight: 700;
    overflow: scroll;

    li {
      padding: 10px;
      border-bottom: 3px solid $black;
      cursor: pointer;

      a {
        display: block;
        text-decoration: none;
        color: $black;
      }

      img {
        padding-right: 10px;
        width: 50px;
        vertical-align: middle;
      }

      .number {
        font-weight: bold;
      }

      &:hover {
        background: $light-green;
      }

      &:active {
        background: $lightest-green;
      }
    }
  }
}

/* Pokemon info screens styling */

.pokemon-detail.screens-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 72%;
  min-width: 470px;
  height: 87%;

  .pokemon-detail.image-screens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 100%;

    /* Pokemon image display styling */

    .pokemon-detail.poke-image-display {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      box-sizing: border-box;
      padding: 7% 0 2% 0;
      border: 6px solid $black;
      background: $light-gray;
      width: 100%;
      height: 70%;

      .pokemon-detail.glass-screen-display {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-sizing: border-box;
        border: 6px solid $black;
        border-radius: 15px;
        background: $light-blue;
        width: 75%;
        height: 80%;
        overflow: hidden;
      }

      img { 
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 50%;
      }

      .glass-streak-1 {
        position: absolute;
        width: 200%;
        border-bottom: 45px solid white;
        opacity: 0.5;
        -webkit-transform:
          translateX(-25%)
          translateY(10%)
          rotate(-27deg); 
      }

      .glass-streak-2 {
        position: absolute;
        width: 200%;
        border-bottom: 20px solid white;
        opacity: 0.5;
        -webkit-transform:
          translateX(-25%)
          translateY(-150%)
          rotate(-27deg); 
      }

      .glass-streak-3 {
        position: absolute;
        width: 200%;
        border-bottom: 10px solid white;
        opacity: 0.5;
        -webkit-transform:
          translateX(-20%)
          translateY(450%)
          rotate(-27deg); 
      }

      .pokemon-detail.glass-buttons-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 20%;
        box-sizing: border-box;
        padding: 0 20%;

        .pokemon-detail.red-button-wrapper {
          position: relative;
          border-radius: 50%;
          background: $button-red;
          box-sizing: border-box;
          border: 4px solid $black;
          width: 3em;
          height: 3em;

          .button-inner {
            position: absolute;
            top: 15%;
            left: 18%;
            border-radius: 50%;
            background: white;
            opacity: 0.6;
            width: 1em;
            height: 1em;
          }
        }

        .pokemon-detail.vent-lines-wrapper {
          width: 65%;
          height: 100%;
          box-sizing: border-box;
          padding-top: 3%;

          .pokemon-detail.vent-line {
            border-radius: 15px;
            background: $black;
            margin: 5% 0;
            width: 100%;
            height: 5px;
          }
        }
      }

      .pokemon-detail.screw-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;

        .pokemon-detail.screw-button {
          width: 1em;
          height: 1em;
          border-radius: 50%;
          background: $black;
        }

        .pokemon-detail.screw-button:first-of-type {
          margin-right: 5%;
        }
      }
    }

    /* Mock screen styling */

    .pokemon-detail.mock-display {
      position: relative;
      border-radius: 15px;
      background: $screen-gray;
      box-sizing: border-box;
      border: 6px solid $black;
      margin-top: 30px;
      width: 100%;
      height: 30%;
      font-size: 12px;
      font-weight: 700;
      overflow: hidden;

      .mock-line-1 {
        position: absolute;
        width: 230%;
        border-bottom: 25px solid $mid-gray;
        opacity: 0.3;
        -webkit-transform:
        translateX(-40%)
          translateY(-50%)
          rotate(-27deg); 
      }

      .mock-line-2 {
        position: absolute;
        width: 230%;
        border-bottom: 15px solid $mid-gray;
        opacity: 0.3;
        -webkit-transform:
          translateY(-20%)
          translateX(-32%)
          rotate(-27deg); 
      }

      .mock-line-3 {
        position: absolute;
        width: 230%;
        border-bottom: 45px solid $mid-gray;
        opacity: 0.3;
        -webkit-transform:
          translateY(20%)
          translateX(-2%)
          rotate(-27deg); 
      }
    }
  }
}

/* Pokemon info screen styling */

.pokemon-detail.info-container {
  font-size: 16px;
  border-radius: 15px;
  background: $screen-gray;
  box-sizing: border-box;
  border: 6px solid $black;
  width: 40%;
  height: 100%;
    
  .pokemon-detail.stats-container {
    list-style: none;
    margin-left: 10%;

    li {
      padding: 10px 0;
    }

    h1 {
      font-size: 26px;
      margin: 5% 0;
    }
  }

  .pokemon-detail.moves-container {
    margin-top: 5%;

    > label {
      margin-left: 10%;
    }

    > ul {
      display: flex;
      flex-direction: column;
      margin-left: 15%;
      margin-top: 5px;

      li {
        padding: 2% 0;
      }
    }
  }
}

/* Mobile styling */

@media only screen and (orientation: portrait) {
  .pokedex.all-screens-container {
    display: none;
  }
}