/* Reset CSS file */

html, body, h1, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	/* background: pink; */
	overflow: hidden;
}

#root {
	width: 100%;
	height: 100%;
	/* background: rgba(0, 0, 0, 0.5); */
}
