$black: #161616;
$grey: #747474;
$light-grey: #999999;
$dark-grey: #404040;


@font-face {
  font-family: 'pokemon-classic';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/pokemon_classic.ttf) format('ttf'); 
}

$red: #DE3C2F;
$light-red: #F5B1AD;
$button-red: #D6441F;
$button-yellow: #FCA026;
$button-green: #38BA51;
$button-blue: #4CB8F8;
$light-blue: #CFFFFF;
$light-gray: #C7C9C8;
$green: #45AF4A;
$light-green: #96D09F;
$lightest-green: #CDEDC5;
$screen-gray: #282828;
$mid-gray: #404040;